body {
    margin: 0px;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url(src/Fondo.png);
    background-repeat: repeat;

    --VW: 1vw;
    --VH: 1vh;
}

img.Corazon {
    height: calc(15 * var(--VH));
    position: fixed;
    z-index: 10;
}

img.Chincheta {
    height: calc(7.5 * var(--VH));
    position: fixed;
    z-index: 11;
}

p.Mensaje {
    position: fixed;
    font-size: calc(10 * var(--VH));
    color: white;
    text-align: center;
    font-family: Knewave;
    top: calc(70 * var(--VH));
    margin: 0px;
    width: 100%;
    z-index: 11;
}

div.Mensajes button {
	position: fixed;
	width: calc(200 * var(--VH));
	height: calc(15 * var(--VH));
	top: calc(80 * var(--VH));
	left: calc(50 * var(--VW) - 100 * var(--VH));
	font-size: calc(7.5 * var(--VH));
	font-family: Knewave;
	background: #555b;
	color: white;
	border: white solid calc(0.25 * var(--VH));
	border-radius: calc(3 * var(--VH));
	box-shadow: calc(0.5 * var(--VH)) calc(0.5 * var(--VH)) calc(1 * var(--VH)) #222b;
    transition: all 1s;
    opacity: 0;
}

canvas {
    width: calc(100 * var(--VW));
    height: calc(100 * var(--VH));
    background: transparent;
    position: fixed;
    top: 0px;
    left: 0px;
    pointer-events: none;
    z-index: 100;
}

img.Flecha {
    height: calc(5 * var(--VH));
    position: fixed;
    top: calc(-5 * var(--VH));
    z-index: 20;
}

div.Fondo {
    z-index: 30;
    position: fixed;
    top: 0px;
    left: 0px;
    width: calc(100 * var(--VW));
    height: calc(100 * var(--VH));
    opacity: 0;
    transition: all 1s;
    background: #00000080;
    backdrop-filter: blur(5px);
}

@keyframes parpadeo {
    
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

@font-face {
    font-family: Knewave;
    src: url(Knewave-Regular.ttf);
}